
:root {
    --primary-font: 'Prompt', sans-serif;
    --base-spacing: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.208;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
}

.form-container {
    background-color: rgba(13, 13, 13, 0.9);
    border-radius: 31px;
    width: 951px;
    height: 545px;
    color: rgba(242, 242, 242, 1);
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form h1 {
    margin: 2.125rem 0 2.5625rem 0;
    font-size: 4rem;
    font-weight: 400;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    margin: 0 0 0.5625rem 4.125rem;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 400;
}

.form-group input {
    margin: 0 0 1.5625rem 0;
    width: 818px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    min-height: 58px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 11px;
}

.form-group:nth-of-type(2) input {
    margin: 0 0 0 0;
}

.form-group:nth-of-type(2) {
    margin: 0 0 3.75rem 0;
}

.login {
    width: 818px;
    min-height: 82px;
    color: rgba(242, 242, 242, 1);
    background-color: rgba(86, 130, 140, 1);
    border: none;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  2.25rem;
}

.login:hover {
    color: rgba(166, 166, 166, 1); 
    background-color: rgba(57, 83, 89, 1);
    border: 2px solid rgba(242, 242, 242, 0.2);
} 

